.DS_Store
**/venv
**/.vscode
**/__pycache__
**/.ipynb_checkpoints
*.xlsx
*.txt
*.bin
*.doc*
*.ppt*
*.pdf
**/data
*/test
*.zip
*.tar*
test.*
temp.*
*.csv
*.json
*.png
*.jpg

**/presentation
**/report


